body{
  font-family: Helvetica;
}


#title{
    /* width: 1440px;
    height: 500px; */
    background-color: #F1F3FF;
}

.car-img{
  width: 650px;
  height: 398px;
  margin-bottom: -190px;
  margin-left: px;
}
@media (max-width: 800px){
	.car-img{
		width: 300px;
		height: 150px;
		margin-bottom: auto;
		/* margin-top: 350px; */
		/* background: greenyellow; */
	}
}

.service-title{
	width: 568px;
	height: 108px;
	font-size: 36px;
	font-weight: 700px;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 50px;
}
.service-img{
	width: 459px;
	height: 428px;
}
.pinservice{
	margin-left: 12px;
}

.frame {
	box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  height: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d0d0d0;	
  border-radius: 0.8rem;
  flex-shrink: 0;
  margin: 25px;
  width: 225px;
}
.loginwhyus{
	width: 42px;
	height: 42px;
}
.pinwhyus{
	font-size: 14px;
}

/* carousel */
.carousel{
	background: #F1F3FF;
	width: 832px;
	height: 270px;
}

.carousel-control-prev-icon {
	background-image: url("./asset/img/Vector2.svg");
  }
.carousel-control-next-icon {
	background-image: url("./asset/img/Vector1.svg");
  }
.imgintesti{
	width: 70.22px;
	height: 80px;
	margin-left: 100px;
	border-radius: 100%;
  }
  .pintesti{
	font-size: 14px;
	margin-left: 0px;
	margin-right: 110px;
	margin-top: 8px;
  }	
  .rateintesti{
	width: 80px;
	margin-top: 30px;
  }
  @media (max-width: 800px){
	.carousel{
		background: #F1F3FF;
		width: 400px;
		height: 170px;
	}
}
  

  /* KOTAK */
.kotak-banner{
	background: #0D28A6;
	width: 1168px;
	height: 326px;
	margin-left: 100px;
	margin-top: 130px;
}

.hinbanner{
	color: #FFFFFF;
	margin-top: 20px;
}

.pinbanner{
	color: #FFFFFF;
	font-size: 14px;
	width: 550px;
	height: 40px;
	margin-left: 265px;
	margin-top: -25px;
	margin-bottom: 32px;
}

.accordion{
	width: 560px;
	height: 100px;
	margin-left: 710px;
	margin-top: -80px;
	margin-bottom: 200px;
}

.p{
	margin-top: 100px;
	margin-left: 100px;
}
@media (max-width: 800px){
	.kotak-banner{
		background: #0D28A6;
		width: 500px;
		height: 150px;
		margin-left: 50px;
		margin-top: 75px;
	}
}
/* accordion */
@media (max-width: 800px){
	.acor{
		width: auto;
		height: auto;
		margin-bottom: auto;
		margin-left: auto;
	}
}